.mainHeader{
    background-color: var(--color-yellow-golden);
    padding: 10px 0;
}
.mainHeader .navbar{
padding: 0;
}
.mainHeader .navbar a.nav-link {
    font-size: 18px;
    line-height: 28px;
}
.mainHeader .navbar li.nav-item{
    position: relative;
    transition: all 5s ease;
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -ms-transition: all 5s ease;
    -o-transition: all 5s ease;
}
.mainHeader .navbar li.nav-item:hover::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    background-color: var(--color-white);
    height: 3px;
    border-radius: 5px;
    animation: mymove 5s infinite;
    -webkit-animation: mymove 5s infinite;
}
@keyframes mymove {
    from {bottom: 0px;}
    to {bottom: -5px;}
  }